#
#Filename: /home/deniojr/Desktop/ruby_on_rails_studies/library_api/app/views/application_mailer/confirmation_email.html.erb
#Path: /home/deniojr/Desktop/ruby_on_rails_studies/library_api/app/views/application_mailer
#Created Date: Monday, February 5th 2024, 11:29:14 am
#Author: Dênio Barbosa Júnior
#
#Copyright (c) 2024 Your Company
#


<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Email Confirmation</h1>
  <p>Welcome <%= @user.name %>,</p>
  <p>You can confirm your email through the link below:</p>
  <p><%= link_to 'Confirm my account', confirmation_url(@user.confirmation_token, only_path: false) %></p>
</body>
</html>
