#
#Filename: /home/deniojr/Desktop/ruby_on_rails_studies/library_api/app/views/application_mailer/confirmation_instructions.html.erb
#Path: /home/deniojr/Desktop/ruby_on_rails_studies/library_api/app/views/application_mailer
#Created Date: Monday, February 5th 2024, 8:55:26 am
#Author: Dênio Barbosa Júnior
#
#Copyright (c) 2024 Your Company
#


<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <h1>Confirmation Instructions</h1>
    <p>Thank you for signing up with our app! Please click the link below to confirm your email address:</p>
    <p><%= link_to 'Confirm Email', confirmation_url(@resource, confirmation_token: @token) %></p>
  </body>
</html>
