#
#Filename: /home/deniojr/Desktop/ruby_on_rails_studies/library_api/app/views/application_mailer/confirmation_success.html.erb
#Path: /home/deniojr/Desktop/ruby_on_rails_studies/library_api/app/views/application_mailer
#Created Date: Monday, February 5th 2024, 10:59:06 am
#Author: Dênio Barbosa Júnior
#
#Copyright (c) 2024 Your Company
#


<!DOCTYPE html>
<html>
<head>
  <title>Confirmation Success</title>
</head>
<body>
  <h1>Confirmation Success!</h1>
  <p>Your account has been successfully confirmed.</p>
  <p>You can now log in using your credentials.</p>
  <!-- Add any additional content or links you want here -->
</body>
</html>
