#
#Filename: /home/deniojr/Desktop/ruby_on_rails_studies/library_api/app/views/application_mailer/mailer.html.erb
#Path: /home/deniojr/Desktop/ruby_on_rails_studies/library_api/app/views/application_mailer
#Created Date: Thursday, February 1st 2024, 4:02:58 pm
#Author: Dênio Barbosa Júnior
#
#Copyright (c) 2024 Your Company
#


<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
