#
#Filename: /home/deniojr/Desktop/ruby_on_rails_studies/library_api/app/views/layouts/mailer.html.erb
#Path: /home/deniojr/Desktop/ruby_on_rails_studies/library_api/app/views/layouts
#Created Date: Monday, February 5th 2024, 3:12:41 pm
#Author: Dênio Barbosa Júnior
#
#Copyright (c) 2024 Your Company
#


<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <%= yield %>
</body>
</html>
